{% extends 'customer/customer_index.html' %}
{% block body %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <style>
        /* Make sure the table rows have white text */
        tr {
            color: white;
        }

        /* Scrollable container for the table */
        .table-container {
            overflow: scroll;
            max-height: 600px; /* Adjust the height as per your need */
        }
    </style>
</head>

<body>
    <div class="table-container">
        <table width="100%" border="1" class="table table-bordered" id="dataTable" id="dataTable">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Rent</th>
                    <th scope="col">pic1</th>
                    <th scope="col">Pic2</th>
                    <th scope="col">Pic3</th>
                    <th scope="col">Information</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner details</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.rent }}</td>
                        <td><img src="{{ i.image1 }}" width="60px" height="60px"></td>
                        <td><img src="{{ i.image2 }}" width="60px" height="60px"></td>
                        <td><img src="{{ i.image3 }}" width="60px" height="60px"></td>
                        <td>{{ i.information }}</td>
                        <td>{{ i.type }}</td>
                        <td>NAME: {{ i.OWNER.name }}<br> EMAIL: {{ i.OWNER.email }}<br> PHONE: {{i.OWNER.phone }}</td>
                        <td><a href="https://www.google.co.in/maps/?q={{ i.latitude }},{{ i.longitude }}" class="btn btn-outline-info">Locate</a></td>

                        <td><a href="/customer_book_house/{{ i.id }}" class="btn btn-success" style="width: 100px" >Book now</a></td>



                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}

