<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="243" border="1">
  <tr>
    <th width="233" scope="col">ADMIN HOME</th>
  </tr>
  <tr>
    <td><a href="/viewhouseowners">VIEW HOUSE OWNERS</a></td>
  </tr>
  <tr>
    <td><a href="/approved_owners">VIEW APPROVED HOUSE OWNERS</a></td>
  </tr>
  <tr>
    <td><a href="/viewcustomers">VIEW USERS</a></td>
  </tr>

  <tr>
    <td height="34"><p><a href="/changepass">CHANGE PASSWORD</a></p></td>
  </tr>
</table>

</body>
</html>
