{% extends 'owner/owner_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="col"><a href="/view_profile">view profile</a></th>
  </tr>
  <tr>
    <td><a href="/add_house">add room</a></td>
  </tr>
  <tr>
    <td><a href="/view_house">view room</a></td>
  </tr>
  <tr>
    <td><a href="/view_request">view request from user</a></td>
  </tr>
  <tr>
    <td><a href="/view_payment">view paymen</a></td>
  </tr>
  <tr>
    <td><a href="/view_rating">view rating</a></td>
  </tr>
  <tr>
    <td><a href="/changepass">change password</a></td>
  </tr>
  <tr>
    <td><a href="#">logout</a></td>
  </tr>
</table>




</body>
</html>
{% endblock %}
